.table {
    max-width: 700px;
    width: 100%;
    border-collapse: collapse;
}

.headCell {
    width: 25%;
    height: 45px;
    padding: 0 5px;
    font-weight: 500;
    background: #6c6c6c;
    border: 2px solid #A4A4A4;
}

@media screen and (max-width: 600px) {
    .table {
        font-size: 15px;
    }
}